body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    color: white;
}

fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
}

legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    margin-bottom: 20px;
    /* border-radius: 8px; */

}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    /* letter-spacing: 2px; */
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -15px;
    left: 0px;
    color: dodgerblue;
    font-size: 12px;
}

#Inicio,
#InicioReal,
#Termino,
#FinalReal {
    background-color: dodgerblue;
    border: none;
    outline: none;
    color: white;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}

#submit,
#return {
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    float: right;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}

#return:hover {
    background-image: linear-gradient(to right, rgb(200, 180, 72), rgb(150, 119, 95));
}